<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWe0ZFYpvxF0Sn0JAO1k_VJo0KtneqHp0</string>
	<key>GCM_SENDER_ID</key>
	<string>284940556275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kultivatedevelopers.-LetsTalkApp</string>
	<key>PROJECT_ID</key>
	<string>letstalkapp-fd178</string>
	<key>STORAGE_BUCKET</key>
	<string>letstalkapp-fd178.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284940556275:ios:3c2ff0dbdfa635ff6aa486</string>
</dict>
</plist>